@using Astronomyfi.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-fluid text-center" src="assets/img/header-image.png" />
            <h1 class="display-4 text-dark border">Space events under the European sky !</h1>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="services-wrapper container">
        <div class="container svcs-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-icon">
                        <img src="~/assets/img/bg-b.jpg" alt="Alternate Text" />
                    </div>
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>"Man must rise above the Earth—to the top of the atmosphere and beyond—for only thus will he fully understand the world in which he lives."</p>
                                <footer class="blockquote-footer">Socrates, Philosopher</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-box form-control border">
                    <div class="service-icon">
                        <img alt="s" src="https://cdn4.iconfinder.com/data/icons/space-glyph-6/128/astronaut_astronomy_space_suit_career_spaceman_observation-512.png">
                    </div>
                    <div class="info text-center">
                        <h3 class="services-subheading">
                            Hello Traveller
                        </h3>
                    </div>
                    <div class="info col-lg-10 col-lg-offset-1">
                        <ul>
                            <li class="nav-item">
                                <form class="" asp-area="Identity" asp-page="/Account/Register">
                                    <button style="background-image: url('assets/img/background.jpg')" type="submit" class="form-control nav-link btn btn-light text-light font-weight-bold">Register</button>
                                </form>
                            </li>
                            <li>
                                <label class="text-primary text-center col-sm-12">Already registered?</label>
                                <form class="" asp-area="Identity" asp-page="/Account/Login">
                                    <button style="background-image: url('assets/img/background.jpg')" type="submit" class="form-control nav-link btn btn-light text-light font-weight-bold">Login</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <label class="text-primary text-center col-sm-12">Or</label>
                                <form class="" asp-area="" asp-controller="Categories" asp-action="All">
                                    <button style="background-image: url('assets/img/background.jpg')" type="submit" class="form-control nav-link btn btn-light text-light font-weight-bold">Continue as a Guest</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-icon">
                        <img src="~/assets/img/bg-b2.jpg" alt="Alternate Text" />
                    </div>
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>"Astronomy compels the soul to look upward, and leads us from this world to another."</p>
                                <footer class="blockquote-footer">Plato, Philosopher</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>