/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.navbar {
    background-image: url('../assets/img/background.jpg');
}

ul {
    list-style-type: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.search-box {
    text-align: right;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-image: url('../assets/img/background.jpg');
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.svcs-container {
    margin-top: 60px;
}

.service-icon {
    text-align: center;
    height: 176px;
}

    .service-icon img {
        display: inline-block;
        max-width: 180px;
        height: 176px;
        vertical-align: middle;
        padding: 20px 0;
    }

h3 {
    font-size: 20px;
    margin: 35px 0 25px;
    font-weight: 800;
    color: #3d3d3d;
    text-transform: uppercase;
}


.hoverServices:hover {
    background-color: #f2f2f2;
}

@media (min-width: 978px) {
    .services-box {
        margin-right: 0;
        border: 1px solid #e5e5e5;
        border-left: 0;
        border-top: 0;
        height: 515px;
    }

        .services-box.last {
            border-right: 0;
        }
}

.category {
    margin-top: 20px;
    margin-bottom: 100px;
}

th {
    color: white;
    background-image: url('../assets/img/background.jpg');
}

.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gray-bg {
    background-color: #f5f5f5;
}

.blog-grid {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #ffffff;
    background: #20247b;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

    .tag-cloud a:hover {
        background: #fc5356;
    }

.blog-single {
    padding-top: 10px;
    padding-bottom: 30px;
}

.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
}

    .article .article-title {
        padding: 15px 0 20px;
    }

        .article .article-title h6 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 20px;
        }

            .article .article-title h6 a {
                text-transform: uppercase;
                color: #fc5356;
                border-bottom: 1px solid #fc5356;
            }

        .article .article-title h2 {
            color: #20247b;
            font-weight: 600;
        }

        .article .article-title .media {
            padding-top: 15px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 20px;
        }

            .article .article-title .media .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
            }

            .article .article-title .media .media-body {
                padding-left: 8px;
            }

                .article .article-title .media .media-body label {
                    font-weight: 600;
                    color: #fc5356;
                    margin: 0;
                }

                .article .article-title .media .media-body span {
                    display: block;
                    font-size: 12px;
                }

    .article .article-content h1,
    .article .article-content h2,
    .article .article-content h3,
    .article .article-content h4,
    .article .article-content h5,
    .article .article-content h6 {
        color: #20247b;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .article .article-content blockquote {
        max-width: 600px;
        padding: 15px 0 30px 0;
        margin: 0;
    }

        .article .article-content blockquote p {
            font-size: 20px;
            font-weight: 500;
            color: #fc5356;
            margin: 0;
        }

        .article .article-content blockquote .blockquote-footer {
            color: #20247b;
            font-size: 16px;
        }

            .article .article-content blockquote .blockquote-footer cite {
                font-weight: 600;
            }

    .article .tag-cloud {
        padding-top: 10px;
    }

.article-comment {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}

    .article-comment h4 {
        color: #20247b;
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 22px;
    }

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}