@model List<ImageListingViewModel>

@{
    this.ViewData["Title"] = "Space captures";
}
<ul class="card-wrapper-image">
    @foreach (var image in Model)
    {
        <li class="card-img">
            <img class="img-card" src='@image.ImageUrl' alt='image'>
            <h3>@image.Description</h3>
            <p class="text-muted"> - @image.Author.UserName</p>
        </li>
    }
</ul>