@{ 
    this.ViewData["Title"] = "Captures";
}

<div class="jbg jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="cap-bg display-5 text-light font-weight-bold">Welcome to the Best Space Captures Page!</h1>
        <hr class="my-lg-4">
        <p class="cap-bg lead text-light font-weight-bold">Here you will find very good and unique captures of the space by our visitors.</p>
        <p class="cap-bg lead text-light font-weight-bold">You have an interesting capture of the night sky or any space object ?</p>
        <p class="cap-bg lead text-light font-weight-bold">Post it by clicking 
        <a 
           asp-controller="Images"
           asp-action="Post"
           class="text-light font-weight-bolder">
            <u>here</u>
            </a> 
        and you can share it with all other visitors.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-dark">Interested in it?</h3>
            <a asp-controller="Images" asp-action="All" class="btn btn-outline-dark">View all images</a>
        </div>
    </div>
</div>