@model CategoryInputModel

<h2 class="heading-margin text-center">@this.ViewBag.Title</h2>
<div class="row mt-4 mb-6">
    <div class="col-3"></div>
    <form class="col-6 col-lg-6" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Write your name here">
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Write your description here"></textarea>
           <span asp-validation-for="Description" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Your image URL">
            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
        </div>

        <input type="submit" asp-controller="Categories" asp-action="@this.ViewBag.Title" class="btn btn-block btn-outline-dark" value="Submit">
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}