<h1 class="text-center mt-2">Create a new Category</h1>
<div class="row mt-4 mb-6">
    <div class="col-3"></div>
    <form class="col-6 col-lg-6" method="post">
        <div class="form-group">
            <label for="name-input">Category Name</label>
            <input name="name" type="text" class="form-control" id="name-input">
        </div>
        <div class="form-group">
            <label for="description-input">Category Description</label>
            <input name="description" type="text" class="form-control" id="description-input">
        </div>

        <div class="form-group">
            <label for="image-input">Category Image URL</label>
            <input name="image" type="text" class="form-control" id="image-input">
        </div>

        <button type="submit" class="btn btn-block btn-primary">Create Category</button>
    </form>
</div>