<div class="text-center container">
    <img class="img-fluid" src="~/assets/img/forum-head.png" alt="Photo" />
    <form asp-controller="Forums" asp-action="Create">
        <button class="btn btn-outline-dark font-weight-bold">+ Add new Post +</button>
    </form>
</div>
<section class="py-5">
    <div class="container">
        <div style="">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th width="10%" scope="col">Author</th>
                        <th width="50%" scope="col">Topic</th>
                        <th scope="col">Upvotes</th>
                        <th width="10%" scope="col">Created on</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="40%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="40%">Are there any cold stars in the universe?</td>
                        <td height="40%">5</td>
                        <th scope="col">Created on</th>
                        <td height="40%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="30%">
                            <img src="#" alt="Profil pic" />
                            <h6 class="text-center">Ivan</h6>
                        </td>
                        <td height="30%">Are there any cold stars in the universe?</td>
                        <td height="30%">5</td>
                        <th scope="col">Created on</th>
                        <td height="30%">
                            <div class="button-holder">
                                <a href="/Trips/Details?tripId=5" class="btn btn-info text-uppercase">Read More</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>